{% extends 'base/main.html' %}
{% block content %}

<div >
  <div class='headerBar' style='align-items:center'>
    <a style='font-size: 48px;
    color: grey;' href="{% url 'tasks' %}">&#8592;</a>
    <div style='width: 80%;
    display: flex;
    justify-content: center;'>
    <h1>  {{ task }} </h1>
  </div>
    
</div>
<hr>
  <div class='contentContainer'>
    <h2> Description: </h2>
    <p> {{ task.description }} </p>
  </div>
  
  
  <hr>
  <div class='buttonLinks'>
    <form method='POST' action=''>
      {% csrf_token %}
      <div style='display:flex; align-items: center;    width: 200px;
      justify-content: space-evenly;'>
        {{form}}
      <button style='padding:5px; border:none;' type='submit'>UPDATE</button>
    </div>
    </form>
    <a class='buttonLink' style='padding:10px; border:none;font-size:13.33px' href="{% url 'task-update' task.id %}">EDIT</a>
    <a style='font-size: 48px;color: grey;' href="{% url 'task-delete' task.id %}">&#215;</a>
  </div>
</div>

{% endblock content %}