{% extends 'base/main.html' %}
{% block content %}

<div class='headerBar'>
  <div>
      <h1>Hello {{request.user|title}}</h1>
      <h2 stlye='margin:0'>Remaining Task{{ count|pluralize:'s'}} to Complete: {{count}}</h2>
  </div>
  {% if request.user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
  </form>

  {% else %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}
</div>



<hr>

<div class='buttonLink'>
  <a href="{% url 'task-create' %}"> Add Task</a>
</div>


<p></p>
<form method='GET'>
  <input type='text' name='search-area' value="{{search_input}}">
  <button type="submit">Search</button>
</form>
<form method='GET'>
  <input style='display:none' type='text' name='search-area' value="">
  <button type="submit">Reset</button>
</form>
<table>
  <tr>
    <th>
      Item
    </th>
    <th>
      Link
    </th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>
      {{task.title}}
    </td>
    <td>
      <div style='background:#80ed98' class='buttonLink'>
        <a href="{% url 'task' task.id %}">VIEW</a>
      </div>
      <div style='background:#80bced' class='buttonLink'>
        <a href="{% url 'task-update' task.id %}">EDIT</a>
      </div>
      <div style='background:#ffcccb' class='buttonLink'>
        <a href="{% url 'task-delete' task.id %}">DELETE</a>
      </div>
    </td>
  </tr>
  {% empty %}
  <h3>No Items in list</h3>
  {% endfor %}
</table>

{% endblock content %}