{% extends 'base/main.html' %}
{% block content %}
<div class='headerBar' style='align-items:center'>
  {% if task %}
    <a style='font-size: 48px;
    color: grey;' href="{% url 'task' task.id %}">&#8592;</a>
    <div style='width: 80%;
    display: flex;
    justify-content: center;'>
      <h1> Edit Task: {{ task.title }} </h1>
    </div>  
    
  {% else %}
    <a style='font-size: 48px;
    color: grey;' href="{% url 'tasks' %}">&#8592;</a>
    <div style='width: 80%;
    display: flex;
    justify-content: center;'>
      <h1>  Create New Task </h1>
    </div>  
    
  {% endif %}
</div>
<hr>
<div class='contentContainer'>
  <form method='POST' action=''>
    {% csrf_token %}
    {{form}}
    <button type='submit'>Submit</button>
  </form>
</div>


{% endblock content %}