{% extends 'base/main.html' %}
{% block content %}

<div class='headerBar'>
  <div>
      <h1>Hello {{request.user|title}}</h1>
      <h2 stlye='margin:0'>Remaining Task{{ count|pluralize:'s'}} to Complete: {{count}}</h2>
  </div>
  {% if request.user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
  </form>

  {% else %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}
</div>



<hr>




<p></p>

<div id='controls'>
  <div style='display:flex'>
  <form method='GET'>
    <input type='text' name='search-area' value="{{search_input}}">
    <button type="submit">Search</button>
  </form>
  <form method='GET'>
    <input style='display:none' type='text' name='search-area' value="">
    <button type="submit">Reset</button>
  </form>
</div>
  <div class='buttonLink'>
    <a href="{% url 'task-create' %}"> Add Task</a>
  </div>
</div>

<table style='width:100%'>
  <tr>
    <th>
    </th>
    <th>
    </th>
  </tr>
  {% for task in tasks %}
  <tr style='width:100%'>
    <td>
      <a href="{% url 'task' task.id %}"><h3 style='margin-left:20px'>{{task.title}}</h3></a>
    </td>
    <td class='buttonLinks'>
        <a style='font-size: 48px;
        color: grey;' href="{% url 'task-delete' task.id %}">&#215;</a>
    </td>
  </tr>
  {% empty %}
  <h3>No Items in list</h3>
  {% endfor %}
</table>

{% endblock content %}