{% extends 'base/main.html' %}
{% block content %}

<div >
  <div class='headerBar' style='align-items:center'>
    <a style='font-size: 48px;
    color: grey;' href="{% url 'tasks' %}">&#8592;</a>
    <div style='width: 80%;
    display: flex;
    justify-content: center;'>
      <h1>  {{ task }} </h1>
    </div>
    
  </div>
  <hr>
  <div>

  </div>
  <p> {{ task.description }} </p>
  
  <div class='buttonLinks'>
    <form method='POST' action=''>
      {% csrf_token %}
      {{form}}
      <button type='submit'>Submit</button>
    </form>
    <a class='buttonLink' href="{% url 'task-update' task.id %}">EDIT</a>
    <a style='font-size: 48px;color: grey;' href="{% url 'task-delete' task.id %}">&#215;</a>
  </div>
</div>

{% endblock content %}